/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 2021年10月29日, 下午5:56:08
    Author     : dell
*/
            /* heading style settings */
            h2 {
                color: blanchedalmond;
                font-family:Edwardian Script ITC ;
                text-align: center;
                font-size: 220%
            }
            /* span style settings */
            span {
                color:   white;
                font-family: Blackadder ITC ;
                text-align: center;
                font-size: 195%  ;
            }
            /* ID selector regarding font color settings */
            /* text shadow settings */
            #text {
                color: white;
                text-shadow: 2px 2px 4px red;
            }
