/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 2021年10月27日, 下午9:24:39
    Author     : dell
*/
            /* heading style settings */
            h2 {
                color: purple;
                font-family:Edwardian Script ITC ;
                text-align: center;
                font-size: 220%
            }
            /* column one style settings */ 
            .column.one {
                width: 50%;
            }
            /* column another style settings */ 
            .column .another {
                width: 50%;
            }
            /* vertical line setting */ 
            .span1{
            padding:10px 25px 1450px 8px;
            margin-left: 0;
            border-left: 3px solid;
            font-size: 0;
            }
            /* span1 style settings */
            span1 {
                color:   blue;
                font-family: Blackadder ITC ;
                text-align: center;
                font-size: 200%  ;
            }
            /* span2 style settings */
            span2 {
                color:   white;
                font-family: Blackadder ITC ;
                text-align: center;
                font-size: 200%  ;
                text-shadow: 2px 2px 4px black;
            }
            /* ID selector regarding font color settings */
            #text {
                color: black;
            }
            /* font color settings of the navigation bar */
            li a {
                color: blue;
            }
            
           
            