/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 2021年10月26日, 下午7:10:49
    Author     : dell
*/
            /* font color settings of the navigation bar */
            #nav {
                color: black;
            }
            /* span1 style settings */
            span1 {
                color:  darkslategrey ;
                font-family:Blackadder ITC ;
                text-align: center;
                font-size: 195%  ;
            }
             /* span2 style settings */
            span2 {
                color:  wheat ;
                font-family:Blackadder ITC ;
                text-align: center;
                font-size: 195%  ;
            }
            /* setting the pictures to move horizontally to the right */
             @keyframes move {
                0% {
                transform: translateX(-750px);    
                }
                100% {
                transform: translateX(0px);
                }
            }
             /* font color settings of the heading */
            h1 {
                color: blue ;
            }

